<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-dark h-100">
            <h1 class="text-light">Testing left panel</h1>
            <ul class="text-light">
                <li>Faculty</li>
                <ul>
                    <li>MongoDB</li>
                    <li>ExpressJS</li>
                    <li>ReactJS</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                <li>Recipes I think I'll try later but actually don't</li>
                <li>Personal</li>
                <li>Shows to binge-watch</li>
            </ul>
        </div>
        <div class="col-md-9 bg-light h-100" style="max-height:100%;overflow-y:auto;">
            <div clas="row">
                <h1>Testing right panel</h1>





                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default fa fa-th active" id="login_click" data-toggle="button"></button>
                        <button type="button" class="btn btn-default fa fa-list-ul" id="register_click" data-toggle="button"></button>
                    </div>
                </div>
            </div>
            <br>
            <div id="login_form">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Edit and delete me!</p>
                            <div style="float:right;">
                                <button type="button" id="popupproj" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Short card!</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a medium sized card. Some more text text text</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a... you guessed it, a card!</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is just another card.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card is just taking some space.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is the last card for now. I guess I will make this one a little big larger than most of the other cards.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is just another card.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card is just taking some space.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is the last card for now. I guess I will make this one a little big larger than most of the other cards.</p>
                            <div style="float:right;">
                                <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                                <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="register_form">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Edit and delete me!</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>

                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>

                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Card Title</td>
                        <td>Some text for display purpose...</td>
                        <td>
                            <button type="button" id="edit_1" class="btn btn-default fa fa-edit" data-toggle="button"></button>
                            <button type="button" id="delete_1" class="btn btn-default fa fa-trash" data-toggle="button"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#switch-forms .btn').on('click', function() {
        $('#switch-forms .btn').removeClass('active');
        $(this).addClass('active');
    });
    $('#login_click').on('click', function() {
        $('#register_form').hide();
        $('#login_form').show();
    });
    $('#register_click').on('click', function() {
        $('#login_form').hide();
        $('#register_form').show();
    });
</script>
</body>
